*{
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}
.ticket-row__column--primary-text,
.ticket-row__right-column--secondary-text,
.ticket-row__right-column--primary-text,
.ticket-row__left-column--primary-text,
.ticket-row__left-column--secondary-text {
    color: rgba(0, 0, 0, .9);
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    width: fit-content;
}
.ticket-row__right-column--primary-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left; 
}
.richtext.textname.mini-text{
    font-size: 11px;
    line-height: 1.5rem;
    color: rgba(0,0,0,.55);
    font-family: "PoppinsExtraBold";
    transition: ease-in-out 333ms;
}

.ticket-row {
    display: flex;
    justify-content: space-evenly;
}
.ticket-row.noflex {
    display: contents;

}
.ticket-right-column {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
}
.ticket-row__left-column {
    display: flex;
    width: 30rem;
    height: 10rem;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
}
.richtext.textname{
    font-size: 40px;
    line-height: 2.5rem;
    color: rgba(0,0,0,.55);
    font-family: "PoppinsExtraBold";
    transition: ease-in-out 333ms;
}
.richtext.description{
    font-size: 18px;
    font-family: "PoppinsMedium";
    transition: ease-in-out 333ms;
}

.columns-presentation{
    display: flex;
    grid-template-columns: calc(100% - 392px) auto;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
}
.arrow-section{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 2rem;
    width: 100%;

}
.ticket-column-page__reduced{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.ticket-row--download_CV{
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    

}
.handlers-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

.cvarchive-css{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    transition: ease-in-out 333ms;
}
.img-aboutme{
    width: 100%;
    
    image-resolution: from-image;
    object-fit: contain;
    border-radius: 10%;
    border: 5px solid #00000060;
    transition: ease-in-out 333ms;
}
@media screen and (max-width: 1030px){
    .ticket-right-column{
        padding-bottom: 1.5rem;
    }
    .ticket-column-page__reduced{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .contactme-card{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .ad{
        width: 20rem;
        overflow:auto;
        
    }
        .columns-presentation{
      
        padding-top: 5rem;
    }
    .ticket-row__left-column{
        width: 100%;
        height: 100%;
    }
    .ticket-row__columns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
     h5.card-title {
        font-size: 0.9rem;

    }
    article.grid-cardcontainer
    {
        width: 100%;
        padding: 0rem;
    }
    .ticket-row__columns{
        align-items: center;
        justify-content: center;
    }
    div.ticket-row__left-column#proyect {
        padding: 0rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .columns-presentation{
        padding: 2rem;
    }
    
    .pagecontainer{
        padding: 2rem;
    }


}

@media screen and (max-width: 425px){
    .columns-presentation{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .pagecontainer{
        align-items: normal;
    }
    .ticket-row.education__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .richtext.linkProyect{
        font-size: 14px;
    }
    .contactme-test{
        flex-direction: column;
    }
    .imgprofile{
        width: 15rem;
    }
    .ticket-right-column{
        width: 100%;
        
        justify-content: left;
    }
}