.topnav {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 0 2rem;
    justify-content: space-between;

    flex-shrink: 0;
}

.item-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.item-nav.img {
    width: 100%;
    height: 100%;
}

.ticket-row__right-column--secondary-text,
.ticket-row__right-column--primary-text,
.ticket-row__left-column--primary-text,
.ticket-row__left-column--secondary-text {
    align-items: center;
    color: rgba(0, 0, 0, .9);
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-end;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}
.link:hover{
    color: #a0a0a0;
  }