.navbar-simple_style{
    width: 100%;
    background-color: #000000c4;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 100;
    border-bottom: #6c4e317c 1px solid;
}
.navbar-items{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}
a.link-navbar{
    transition: all 333ms;
    color: #A79277;
    text-decoration: none;
    font-family: "Poppins";
    
}
a.link-navbar:hover{
    transition: all 333ms;
    color: #6C4E31;
}
@media screen and (max-width: 768px){
    a.link-navbar{
        font-size: 0.75rem;
    }
    
}