.ticket-row.proyects__container {
    display: contents;

}

.img-proyect {
    width: 25rem;
    height: 100%;
}

.separator-ui {
    background: rgba(0, 0, 0, 0);
    height: 0.5px;
    margin-top: 20px;
    border: 0.5px solid rgb(204, 204, 204);
    width: 100%;

}

.richtext.title-proyect {
    font-size: 30px;
    line-height: 2.5rem;
    color: rgb(56, 56, 56);
    font-family: "PoppinsExtraBold";
    transition: ease-in-out 333ms;
}

.ticket-row__column-item {
    display: flex;
    justify-content: flex-start;
    text-align: left;

}

.ticket-row__left-container {

    padding: 20px;
}

.columns-proyects {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ticket-row__column-item-down{
    margin-top: auto;
}
.ticket-row__left-column#proyect {
    width: fit-content;
    height: 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    gap: 1rem;
}
.ticket-row__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.richtext.descriptionProyect{
    font-size: 18px;
    font-family: "PoppinsMedium";
    color: rgb(66, 66, 66);
    transition: ease-in-out 333ms;
}
.richtext.linkProyect{
    font-size: 20px;
    font-family: "PoppinsMedium";
    color: rgb(66, 66, 66);
    transition: ease-in-out 333ms;
    text-align: center;
    text-decoration: underline;
}